In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [ ]:
df = pd.read_csv("spam.csv",encoding="latin")
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
df.ndim

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.isna().sum()

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df label_num():
   df["label_num"].value_counts().plot(kind="bar",figsize=(12,6))
   plt.xticks(np.arange(2), ('Non spam', 'spam'),rotation=0);

In [ ]:
import re
corpus = []
length = len(df)

In [ ]:
df text():
  for i in range (0,length):
    text = re.sub("[^a-zA-Z0-9]"," ",df["text"][i])
    text = text.lower()
    text = text.split()
    pe = PorterStemmer()
    stopword = stopwords.words("english")
    text = [pe.stem(word)for word in text if not word in set (stopword)]
    text = " ". join(text)
    corpus.append(text)

In [ ]:
corpus

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=35000)
X = cv.fit_transform(corpus).toarray()

In [ ]:
y = pd.get_dummies(df['label'])
y = y.iloc[:, 1].values

In [ ]:
import pickle
pickle.dump(cv, open('cv.pK1', 'wb'))

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_test=train_test_split(x,y,test_size=0.20,random_state=0)

In [ ]:
from sklearn.naive_bayes import MultinominalNB
model = MultinominalNB()

In [ ]:
model.fit(x_train, y_train)